<template>
  <v-container>
    <v-row class="">
      <v-col cols="3">
        <p v-for="attack in attacks" :key="attack._id">
          <ul id="v-for-object" class="demo">
            <li>_id: {{attack._id}}</li>
            <li>name: {{attack.name}}</li>
            <li>recharges: {{attack.recharges}}</li>
            <li>effects: 
              <ul v-for="effect in attack.effects" :key="effect._id">
                <li v-for="(value, key) in effect" :key="key">
                  {{ key }}: {{ value }}
                </li>
              </ul>
            </li>
          </ul>
          <v-btn @click="sendAttack(attack._id)">SEND</v-btn>
        </p>
      </v-col>
      <v-col cols="3">
        <p v-for="effect in effects" :key="effect._id">
          <ul id="v-for-object" class="demo">
            <li>_id: {{effect._id}}</li>
            <li>name: {{effect.name}}</li>
          </ul>
        </p>
      </v-col>
      <v-col cols="3">
        TRES
      </v-col>
      <v-col cols="3">
        <h3>mensajes</h3>
        <ul id="v-for-object" class="demo">
          <li v-for="message in messages" :key="message">{{message}}</li>
        </ul>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <h3>monsters</h3>
        <v-card v-for="monster in monsters" :key="monster._id">
          <ul id="v-for-object" class="demo">
              <li>name: {{monster.name}}</li>
              <li>hp: {{monster.hp}}</li>
              <li>Maxhp: {{monster.maxHp}}</li>
              <li>shield: {{monster.shield}}</li>
              <li>stats: 
                <ul>
                  <li v-for="(value, key) in monster.stats" :key="key">
                    {{ key }}: {{ value }}
                  </li>
                </ul>
              </li>
              <li>attack modifiers: 
                <ul v-for="mod in monster.attackModifiers" :key="mod">
                  <li v-for="(value, key) in mod" :key="key">
                    {{ key }}: {{ value }}
                  </li>
                </ul>
              </li>
              <li>defense modifiers: 
                <ul v-for="mod in monster.defenseModifiers" :key="mod">
                  <li v-for="(value, key) in effect" :key="key">
                    {{ key }}: {{ value }}
                  </li>
                </ul>
              </li>
              <li>can attack: {{monster.canAttack}}</li>
            </ul>
        </v-card>
      </v-col>

			<v-col>
        <h3>players</h3>
        <v-card v-for="player in players" :key="player._id">
          <ul id="v-for-object" class="demo">
              <li>name: {{player.name}}</li>
              <li>hp: {{player.hp}}</li>
              <li>Maxhp: {{player.maxHp}}</li>
              <li>shield: {{player.shield}}</li>
              <li>stats: 
                <ul>
                  <li v-for="(value, key) in player.stats" :key="key">
                    {{ key }}: {{ value }}
                  </li>
                </ul>
              </li>
              <li>attack modifiers: 
                <ul v-for="mod in player.attackModifiers" :key="mod">
                  <li v-for="(value, key) in mod" :key="key">
                    {{ key }}: {{ value }}
                  </li>
                </ul>
              </li>
              <li>defense modifiers: 
                <ul v-for="mod in player.defenseModifiers" :key="mod">
                  <li v-for="(value, key) in effect" :key="key">
                    {{ key }}: {{ value }}
                  </li>
                </ul>
              </li>
              <li>can attack: {{player.canAttack}}</li>
            </ul>
        </v-card>
      </v-col>
        
    </v-row>

  </v-container>
</template>

<script>
  export default {
    data() {
      return {
        monsters: [],
        players: [],
  
        attacks: [],
        effects: [],

        messages: []
      }
    },
    sockets: {
      connect() {
        console.log('connected')
      },
      initialData({attacks, effects, monsters, players}) {
        this.attacks = attacks
        this.effects = effects
        this.monsters = monsters
        this.players = players
      },
      dataUpdate(doc) {
        let monsterAffectedIndex = this.monsters.findIndex(monster => monster._id == doc._id)
        if (monsterAffectedIndex >= 0) {
          this.monsters.splice(monsterAffectedIndex, 1, doc)
        }

        let playerAffectedIndex = this.players.findIndex(player => player._id == doc._id)
        if (playerAffectedIndex >= 0) {
          this.players.splice(playerAffectedIndex, 1, doc)
        }
        
      },
      displayMsg(msg) {
        console.log(msg)
        this.messages.push(msg)
      }
    },
    methods: {
      sendAttack(attack_id) {
        console.log('attacking')
        const body = {
          targets_ids: [["5e5c17f58d8fcb1dd87eb7fa"],["5e5c17f58d8fcb1dd87eb7fa"], ["5e5c1ee58d8fcb1dd87eb7fb"]],
          attack_id: attack_id
        }
        this.$socket.emit('attack', body)
      }
    }
  }
</script>
