<template>
  <v-app>
    <v-app-bar app color="primary" dark>
     
    </v-app-bar>

    <v-content>
      <socketTest/>
    </v-content>
  </v-app>
</template>

<script>
import socketTest from './components/socket-test';

export default {
  name: 'App',

  components: {
    socketTest,
  },

  data: () => ({
    //
  }),
};
</script>
